@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Noto+Serif:wght@700&family=Special+Elite&display=swap" rel="stylesheet');

h1, h2, h3, p, .btn1 {
    font-family: 'Special Elite', 'Courier New', Courier, monospace;
    color:#555555;
    
}


.start, .startcard{
    margin-top: 10vh;
      }

.btn1{
    border-radius: 5px;
    padding:9px 20px;
    color:#555555;
    display: inline-block;
    text-align: center;
    width: 100%;
    border: 1px solid #555555;
    
}

.startcard{
    text-align: center;
    width: 80%;
    padding: 20px;
    
}
/*hides the high low buttons until game play starts. */
 #highLow{
        display: none;
 }

.historycard{
    text-align: center;
    width: 250px;
    height: 50vh;
    margin: 20px;
    padding: 10px;
    background-color: #fafafa;
    border-radius: 5px;
    border: 1px solid #a5a5a5;
    
}

.scorecard{
    text-align: center;
    width: 50%;   
    margin: 5%;
    padding: 5%;
    background-color: #fafafa;
    border-radius: 15px;
    border-width: 2px;
    border: 1px solid #a5a5a5;
}



/* this css below is for the html linking to teh JS deck.

#container{
  text-align: center;
  background-color: grey;
  width: 50%;
  height: 40vh;
  margin: 1rem;
  padding: 1rem;
  position: relative;
  top: 0;
}



#displayright, #displayleft > p {
  font-size: 1rem;
}




#displayleft {
  width: 40%;
  min-height: 40vh;
  margin: 0 auto;
  background-color: blue;
  text-align: center;
  padding: 1rem;
}

#displayright {
  width: 40%;
  min-height: 40vh;
  margin: 0 auto;
  background-color: pink;
  text-align: center;
  padding: 1rem;
}



.heading{
    padding: 1rem;
}

#displayleft {
  width: 80%;
  min-height: 40vh;
  margin: 0 auto;
  background-color: blue;
  text-align: center;
  padding: 1rem;
}

#displayright {
  width: 80%;
  min-height: 40vh;
  margin: 0 auto;
  background-color: lightgray;
  text-align: center;
  padding: 1rem;
}

#cardbox{

  text-align: center;
  background-color: grey;
  width: 75%;
  height: 100%;
   margin: 1rem;
  padding: 1rem;
  position: relative;
  top: 0;
}




#displayright> img{
    width: 10rem;
    height: 12.5rem;
}

#displayleft> img{
    width: 10rem;
    height: 12.5rem;
}



#draw, #higher, #lower{
  display: block;
  font-size: 1.5rem;
  padding: 1rem 1rem;
  margin: 1vh auto;
  background-color: rgba(255,255,255,0.6);
  border-radius: 10px;
}
*/