@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Noto+Serif:wght@700&family=Special+Elite&display=swap" rel="stylesheet');

h1, h2, h3, p, .btn1, .btn1a, .popuptext, .popup {
    font-family: 'Special Elite', 'Courier New', Courier, monospace;
    color:#555555;
}

 h2, h3, p, .btn1, .btn1a, .popuptext{
     font-size: 13px;
 }

.maintitle{
   width: 90%; 
   padding-left: 5%;
   padding-right: 5%;
}

.start {
    margin-top: 10px;
    
    }

.btn1a{
    border-radius: 5px;
    padding:9px 10px;
    color:#555555;
    display: inline-block;
    text-align: center;
    width: 100%;
    border: 1px solid #555555;
    margin-top: 5px;
}

.btn1{
    border-radius: 5px;
    padding:9px 10px;
    color:#555555;
    display: inline-block;
    text-align: center;
    width: 60%;
    border: 1px solid #555555;
    margin-top: 5px;   
}

.startcard{
    text-align: center;
    width: 90%;
    padding: 5px;
    margin-top: 0px;
    
}
/*hides the high low buttons until game play starts. */
 #highLow{
        display: none;
 }

 #cards{
        display: none;
 }

.historycard{
    text-align: center;
    width: 250px;
    height:300px ;
    margin: 5px;
    padding: 5px;
    background-color: #fafafa;
    border-radius: 5px;
    border: 1px solid #a5a5a5;    
}

.scorecard{
    text-align: center;
    width: 90%;   
    margin: 10px;
    padding: 10px;
    background-color: #fafafa;
    border-radius: 15px;
    border-width: 2px;
    border: 1px solid #a5a5a5;
}

.cardpic{
    border-radius: 15px;
    height: 130px;
    padding: 10px;

}

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_popup */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 220px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

@media screen and (min-width:600px){
  .startcard{
    text-align: center;
    width: 50%;
    padding: 10px;
    margin-top: 5px;
}

.scorecard{
    text-align: center;
    width: 50%;   
    margin: 5%;
    padding: 5%;
    background-color: #fafafa;
    border-radius: 15px;
    border-width: 2px;
    border: 1px solid #a5a5a5;
}
.maintitle{
   width: 50%; 
   padding-left: 5%;
   padding-right: 5%;
}

}
